{{ template "header" . }}

<div class="container">
	<br>
	<h3>Help instructions</h3>		
	<p>The main page on http://localhost:8081/ consists of three main parts: navigation bar, start tesing button and part with tests.</p>
	<img src="/static/media/main_page.png" class="img-fluid" alt="main page">
	<p>The navigation bar has three links to different main parts of web-application. Start testing button allows you to start testing in your local network, if everything is okay - there will be message with specific url which you should share with students. Part of tests is created for editing, creating and deleting tests. The test "help" goes with program, the test has questions with descriptions.</p>
	<p>Let's start testing where there will be only one test "help". For that you have to push "Start testing" button. Note: directory "tests" in your application has files, every file is a test. The testing will has only those tests which are placed in "tests" directory.</p>
	<img src="/static/media/start_testing.png" class="img-fluid" alt="start testing">
	<p>The example in the picture has this address http://192.168.0.103:8080/, you can go to this url and get testing forms. There are only free inputs: full name, group/grade, one test in select. Let's enter some data and start test</p>
	<img src="/static/media/input_form.png" class="img-fluid" alt="input form">
	<p>After you clicked "Start test" button the testing begins. Choose some answers (picked answers will be have green background color) and then push "Finish" block button.</p>
	<img src="/static/media/testing.png" class="img-fluid" alt="input form">
	<p>The result shows in percantage. To view results you should go to http://localhost:8081/results/ or click results in navigation bar. There is one directory with one result. The directory name is the date. Every result will be stored in directory from current date. The directory has two buttons: Xlsx dir, Delete. Delete button deletes full directory with tests permanently, be careful. Xlsx dir creates .xlsx file with ALL results in chosen directory. You can view result one by one if you click on the directory name and then click on the specific result name. Result name consists of full name + group + tests name + result + time (hour, minute, second). Let's view our created result.</p>
	<img src="/static/media/result.png" class="img-fluid" alt="result">
	<p>Chosen answers will be have different colors. Here is the meanings: red - picked answers but not correct, light breen - correct answers which had not been picked, green - right picked answers. Now let's imagine that you got the class of students and you wanna see more common result, then you should click "Xlsx dir" of the path, where every test result been stored. Note: the .xlsx file will consist full name, group, test name, result (in percentage), you should care about what will be in .xlsx file by yourself, this function just creates .xlsx file with every test result, no matter group, percentage etc. The .xlsx file will be stored in directory of web-application with date name (same of dir name being chosen). Here is our result in .xlsx file.</p>	
	<img src="/static/media/xlsx_result.png" class="img-fluid" alt="result">
	<p>We are glad if it's useful for you, enjoy :)</p>
</div>

{{ template "footer" . }}
