{{ template "header" . }}

<div class="container">
	<div class="row">
		<div class="col-sm align-self-center text-center">
			<p>You should press button below after checking that every test you want will be accessible for other people</p>	
			{{ if .isTestRunning }}	
				<button type="button" class="btn btn-primary" onclick="stopTesting(this)">Stop Testing</button>	
			{{ else }}	
				<button type="button" class="btn btn-primary" onclick="startTesting(this)">Start testing</button>		
			{{ end }}	
		</div>
	</div>
	{{ range $test := .Tests }} 	
	<div class="border-bottom rounded bg-light" style="margin: 15px auto;">	
		<div class="col-lg">
			<a href="/test/{{ .Name }}"><h5>{{ .Name }}</h5></a> 
			<p>Size (bytes): {{ .Size }} Last Modified: {{ .ModTime }}<p>
		</div>	
		<div class="col-sm">	
			<button type="button" class="btn btn-danger" onclick="deleteTest(this)">Delete</button>
		</div>	
	</div>	
	{{ else }}
		<h4>There is no tests yet!</h4>
	{{ end }} 
	<div class="row">
		<a href="/newtest" class="btn btn-secondary btn active" role="button" aria-pressed="true">Create new test</a>	
	</div>
</div>

<script src="/static/js/general.js"></script>

{{ template "footer" . }}
